<div class="mx-auto md:w-2/3 w-full">
  <section class="flex flex-row gap-12">
    <div class="w-1/4 flex flex-row justify-end">
      <%= image_tag "avatar/#{@artist.slug}.png", class: "rounded-full w-48 h-48"%>
    </div>
    <div class="w-3/4 pt-4">
      <h1 class="text-4xl font-bold py-1"><%= @artist.name %></h1>
      <p class="text-gray-700 py-2"><%= @artist.introduction %></p>
      <div class="h-3"></div>
      <% if @artist.birthday %>
        <p class="text-gray-500">Ngày sinh: <%= @artist.birthday.to_time.strftime('%B %e, %Y') %></p>
      <% end %>
    </div>
  </section>
  <div class="h-12"></div>
  <section class="">
    <header class="py-2">
      <h2 class="text-2xl font-bold">This is <%= @artist.name %></h2>
    </header>
  </section>
  <div class="h-12"></div>
  <section class="">
    <header class="py-2">
      <h2 class="text-2xl font-bold">Albums & EPs</h2>
    </header>
    <main>
      <div class="grid grid-cols-4 gap-4" >
        <% @artist.albums.each do |album| %>
          <%= link_to(album) do %>
            <div class="flex flex-col gap-1">
              <%= image_tag album.cover_image_url %>
              <p><%= album.name %> <span>(<%= album.year %>)</span></p>
            </div>
          <% end %>
        <% end %>
      </main>
    </section>
    <div class="h-12"></div>
    <section class="">
      <header class="py-2">
        <h2 class="text-2xl font-bold">Discography</h2>
        <nav>
          <ul>
            <li>
              Single <span class="text-gray-600 text-xs"><%= @artist.songs ?  @artist.songs.length() : 0 %></span>
            </li>
          </ul>
        </nav>
      </header>
      <main class="grid grid-cols-2 gap-x-8">
        <% @artist.songs.each do |song| %>
          <% if song.yt_videos.present? %>
            <%= link_to(song_yt_video_path(song, song.yt_videos[0]), class: "") do %>
              <div class="py-2 border-b border-gray-200 border-solid flex flex-row">
                <div class="w-2/3 flex flex-col justify-start">
                  <h3 class="font-semibold hover:underline"><%= song.name %></h3>
                  <p class="text-sm text-gray-400">
                    <% if song.romanized_name.present? %>
                      <%= song.romanized_name %>
                    <% else %>
                      ...
                    <% end %>
                    <% if song.has_en_translation? %>
                      <span class="border border-green-500 border-solid p-0.5 rounded text-xs text-green-800 font-semibold">EN</span>
                    <% end %>
                    <% if song.has_vi_translation? %>
                      <span class="border border-orange-500 border-solid p-0.5 rounded text-xs text-orange-800 font-semibold">VI</span>
                    <% end %>
                  </p>
                </div>
                <div class="w-1/3 flex flex-row justify-end items-center">
                  <p class="text-gray-700"><%= song.year %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="py-2 border-b border-gray-200 border-solid flex flex-row">
              <div class="w-2/3 flex flex-col justify-start">
                <h3 class="font-semibold text-gray-400"><%= song.name %></h3>
                <p class="text-sm text-gray-400">
                  <% if song.romanized_name.present? %>
                    <%= song.romanized_name %>
                  <% else %>
                    ...
                  <% end %>
                </p>
              </div>
              <div class="w-1/3 flex flex-row justify-end items-center">
                <p class="text-gray-700"><%= song.year %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </main></section>
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
    </div>
  </div>