<% @song = @yt_video.song %>
<div>
  <div class="flex flex-row gap-4">
    <div class="w-3/5 border border-gray-200 border-solid">
      <section class="bg-gray-900 p-4 rounded-lg">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/<%= @yt_video.video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </section>
      <div class="p-4">
        <section class="py-3">
          <div class="flex flex-row gap-4">
            <div>
              <% if @song.album.present? %>
                <div class="w-48 h-48">
                  <%= image_tag @song.album.cover_image_url %>
                  <p class="underline"><%= link_to "Album #{@song.album.name}", @song.album %></p>
                </div>
              <% end %>
            </div>
            <div class="p-4">
              <h1 class="font-bold text-xl"><%= @song.name %></h1>
              <% @song.artists.each do |artist| %>
                <%= link_to artist do %>
                  <h3 class="underline"><%= artist.name %></h3>
                <% end%>
              <% end%>
              <article class="py-4 text-sm text-gray-700">
                <p>"Same Page?" là đĩa đơn kỹ thuật số thứ bảy của Tilly Birds, được phát hành vào ngày 26/2/2020.</p>
                <p>Vào ngày 3/3/2020, lyrics video bài hát "Same Page?" đã vượt qua cột mốc đầu tiên là 1 triệu lượt xem, sáu ngày sau khi phát hành. Video âm nhạc sau đó đã đạt được 1 triệu lượt xem trong vòng 4 ngày sau khi phát hành vào ngày 20/3. Vào ngày 3/8, MV chính thức đạt 50 triệu lượt xem trên YouTube.</p>
                <p>Bài hát đã đứng đầu danh sách phát Top 50 Thái Lan của Spotify vào ngày 22/3.</p>
              </article>
            </div>
          </div>
        </section>
        <div class="h-12"></div>
        <section>
          <header>
            <h2 class="font-bold text-lg">Versions of this song</h2>
          </header>
          <main class="py-2 grid grid-cols-4 gap-3 item-stretch">
            <% @song.yt_videos.each do |yt_video| %>
              <%= link_to song_yt_video_path(@song, yt_video) do %>
                <div class="h-full flex flex-col gap-1 hover:bg-gray-200 border-b border-gray-200 border-solid p-2 rounded-xl">
                  <img src="<%= VideoThumb.get("https://www.youtube.com/watch?v=#{yt_video.video_id}") %>" width="100%" height="200px" class="rounded-lg" />
                  <div class="py-2">
                    <p><span class="block px-2 py-1 text-sm"><%= @yt_video.video_id == yt_video.video_id ? "Đang phát..:" : "  " %> <%= yt_video.version %></span></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </main>
        </section>
        <div class="h-8"></div>
        <% if @song.album.present? %>
          <section>
            <header>
              <h2 class="font-bold text-lg">Tracks album <%= @song.album.name %></h2>
            </header>
            <main class="py-2 grid grid-cols-4 gap-3 item-stretch">
              <% @song.album.songs.each do |track| %>
                <%= link_to song_yt_video_path(track, track.yt_videos[0]) do %>
                  <%= track.name %>
                <% end %>
              <% end %>
            </main>
          </section>
        <% end %>
      </div>
    </div>
    <div class="w-2/5 p-4 border border-gray-200 border-solid">
      <section class="py-3">
        <h1 class="font-bold text-xl"><%= @song.name %></h1>
        <p class="text-gray-600">Nghĩ (nhưng không) nghĩ về</p>
      </section>
      <section>
        <article class="flex flex-col gap-4 song_lyrics">
          <% if @song.lyrics.present? %>
            <%= raw(@song.lyrics) %>
          <% end %>
        </article>
      </section>
      <%# %>
      <%# <section>
      <%#   <% @song.lyric_parts.each do |part| %>
        <%#     <div class="py-2">
      <%#       <strong class="py-1"><%= part.name %></strong>
      <%#       <div>
      <%#         <% part.lyric_lines.each do |line| %>
        <%#           <p><%= line.thai %></p>
      <%#           <p><%= line.roman %></p>
    <%#           <p><%= line.eng %></p>
  <%#         <% end %>
  <%#       </div>
      <%#     </div>
      <%#   <% end %>
  <%# </section>%>
</div>
</div>
</div>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @song %>
    <%= link_to "Edit this song", edit_song_path(@song), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this song", song_path(@song), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to songs", songs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
